:root {
  --offbar-background-color: rgb(37, 37, 125);
  --canvas-background-color: rgb(247, 247, 247);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
  background-color: var(--canvas-background-color);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}

#canvas {
  width: 100%;
  height: 100%;
  padding: 30px;
}

/* Hides arrows in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hides arrows in number input for Mozilla browsers*/
input[type="number"] {
  -moz-appearance: textfield;
}

#off-canvas-button {
  width: 50px;
  margin: 2px;
  padding: 30px 30px 30px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
}

#off-canvas-button:hover {
  opacity: 0.8;
  transition: 0.15s;
}

fieldset {
  margin-top: 25px;
  font-size: 16px;
}

#expectedAgeInput {
  width: 50px;
  margin-top: 10px;
}

.uk-offcanvas-bar {
  background-color: var(--offbar-background-color);
}

p {
  margin: 0px;
}

#footer {
  display: flex;
}
