:root {
  --offbar-background-color: rgb(37, 37, 125);
  --canvas-background-color: rgb(247, 247, 247);
  --hamburger-color: rgb(0, 0, 0);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;  /* Hide scrollbars */
  background-color: var(--canvas-background-color);
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

}

/* Hides arrows in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

/* Hides arrows in number input for Mozilla browsers*/
input[type=number] {
    -moz-appearance:textfield;
}

#hamburger-icon {   
  padding: 4px;
  margin: 8px;
 }

.hamburger-line {
   width: 27px;
   height: 3px;
   background-color: var(--hamburger-color);
   margin: 6px 0;
 }
  
#hamburger-icon:hover {
   opacity: 0.4;
   transition: 0.20s;
 }

fieldset {
  margin-top: 25px;
  font-size: 16px;
}

#expectedAge {
  width: 50px;
  margin-top: 10px;
}

.uk-offcanvas-bar {
  background-color: var(--offbar-background-color);
}

p {
  margin: 0px;
}

#footer {
  display: flex;
  position: absolute;
  bottom: 10px;
}