:root {
  --offbar-background-color: rgb(37, 37, 37);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;  /* Hide scrollbars */
  background-color: rgb(240, 248, 255);
}

#hamburger-icon {   
  padding: 4px;
  margin: 8px;
 }

.hamburger-line {
   width: 27px;
   height: 3px;
   background-color: black;
   margin: 6px 0;
 }
  
#hamburger-icon:hover {
   opacity: 0.4;
   transition: 0.25s;
 }

h2 {
  font-size: 17px;
  margin: 5px;
}

#expectedAge {
  width: 75px;
}

.uk-offcanvas-bar {
  background-color: var(--offbar-background-color);
}