:root {
  --offbar-background-color: rgb(37, 37, 125);
  --canvas-background-color: rgb(247, 247, 247);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--canvas-background-color);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#canvas {
  width: 100%;
  height: 100%;
  padding: 30px;
}

fieldset {
  margin-top: 25px;
  font-size: 16px;
}

.uk-offcanvas-bar {
  background-color: var(--offbar-background-color);
}

p {
  margin: 0px;
}

input[type="number"] {
  width: 75px;
}

#offCanvasOpenButton {
  width: 50px;
  margin: 2px;
  padding: 30px 30px 30px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#offCanvasOpenButton:hover {
  opacity: 0.8;
  transition: 0.15s;
}

#arrowOpenButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: scaleY(1.55);
  font-family: Courier;
  font-size: 25px;
  font-weight: bolder;
  opacity: 0.4;
  padding: 20px 30px 20px 6px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#arrowOpenButton:hover {
  opacity: 0.95;
  transition: 0.15s;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--offbar-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
